In [72]:
import os
os.getcwd()

import csv

with open('Prueba.csv', newline='') as csvfile:  
    leer = csv.reader(csvfile)
    for h in leer:
        print(h)

['Longitud', 'Anchura', 'Altura', 'Altura_Cara', 'Anchura_Cara', 'Tipo']
['190.5', '152.5', '145', '73.5', '136.5', 'uno']
['172.5', '132', '125.5', '63', '121', 'uno']
['167', '130', '125.5', '69.5', '119.5', 'uno']
['169.5', '150.5', '133.5', '64.5', '128', 'uno']
['175', '138.5', '126', '77.5', '135.5', 'uno']
['177.5', '142.5', '142.5', '71.5', '131', 'uno']
['179.5', '142.5', '127.5', '70.5', '134.5', 'uno']
['179.5', '138', '133.5', '73.5', '132.5', 'uno']
['173.5', '135.5', '130.5', '70', '133.5', 'uno']
['162.5', '139', '131', '62', '126', 'uno']
['178.5', '135', '136', '71', '124', 'uno']
['171.5', '148.5', '132.5', '65', '146.5', 'uno']
['180.5', '139', '132', '74.5', '134.5', 'uno']
['183', '149', '121.5', '76.5', '142', 'uno']
['169.5', '130', '131', '68', '119', 'uno']
['172', '140', '136', '70.5', '133.5', 'uno']
['170', '126.5', '134.5', '66', '118.5', 'uno']
['182.5', '136', '138.5', '76', '134', 'dos']
['179.5', '135', '128.5', '74', '132', 'dos']
['191', '140.5', '140.5', '72.5', '131.5', 'dos']
['184.5', '141.5', '134.5', '76.5', '141.5', 'dos']
['181', '142', '132.5', '79', '136.5', 'dos']
['173.5', '136.5', '126', '71.5', '136.5', 'dos']
['188.5', '130', '143', '79.5', '136', 'dos']
['175', '153', '130', '76.5', '142', 'dos']
['196', '142.5', '123.5', '76', '134', 'dos']
['200', '139.5', '143.5', '82.5', '146', 'dos']
['185', '134.5', '140', '81.5', '137', 'dos']
['174.5', '143.5', '132.5', '74', '136.5', 'dos']
['195.5', '144', '138.5', '78.5', '144', 'dos']
['197', '131.5', '135', '80.5', '139', 'dos']
['182.5', '131', '135', '68.5', '136', 'dos']

In [73]:
import pandas as PD

In [74]:
DF=PD.read_csv('Prueba.csv')

DF

    Longitud  Anchura  Altura  Altura_Cara  Anchura_Cara Tipo
0      190.5    152.5   145.0         73.5         136.5  uno
1      172.5    132.0   125.5         63.0         121.0  uno
2      167.0    130.0   125.5         69.5         119.5  uno
3      169.5    150.5   133.5         64.5         128.0  uno
4      175.0    138.5   126.0         77.5         135.5  uno
5      177.5    142.5   142.5         71.5         131.0  uno
6      179.5    142.5   127.5         70.5         134.5  uno
7      179.5    138.0   133.5         73.5         132.5  uno
8      173.5    135.5   130.5         70.0         133.5  uno
9      162.5    139.0   131.0         62.0         126.0  uno
10     178.5    135.0   136.0         71.0         124.0  uno
11     171.5    148.5   132.5         65.0         146.5  uno
12     180.5    139.0   132.0         74.5         134.5  uno
13     183.0    149.0   121.5         76.5         142.0  uno
14     169.5    130.0   131.0         68.0         119.0  uno
15     172.0    140.0   136.0         70.5         133.5  uno
16     170.0    126.5   134.5         66.0         118.5  uno
17     182.5    136.0   138.5         76.0         134.0  dos
18     179.5    135.0   128.5         74.0         132.0  dos
19     191.0    140.5   140.5         72.5         131.5  dos
20     184.5    141.5   134.5         76.5         141.5  dos
21     181.0    142.0   132.5         79.0         136.5  dos
22     173.5    136.5   126.0         71.5         136.5  dos
23     188.5    130.0   143.0         79.5         136.0  dos
24     175.0    153.0   130.0         76.5         142.0  dos
25     196.0    142.5   123.5         76.0         134.0  dos
26     200.0    139.5   143.5         82.5         146.0  dos
27     185.0    134.5   140.0         81.5         137.0  dos
28     174.5    143.5   132.5         74.0         136.5  dos
29     195.5    144.0   138.5         78.5         144.0  dos
30     197.0    131.5   135.0         80.5         139.0  dos
31     182.5    131.0   135.0         68.5         136.0  dos

In [78]:
DF2=DF.iloc[:31,[True,False,False,True,True,True]]
DF2

    Longitud  Altura_Cara  Anchura_Cara Tipo
0      190.5         73.5         136.5  uno
1      172.5         63.0         121.0  uno
2      167.0         69.5         119.5  uno
3      169.5         64.5         128.0  uno
4      175.0         77.5         135.5  uno
5      177.5         71.5         131.0  uno
6      179.5         70.5         134.5  uno
7      179.5         73.5         132.5  uno
8      173.5         70.0         133.5  uno
9      162.5         62.0         126.0  uno
10     178.5         71.0         124.0  uno
11     171.5         65.0         146.5  uno
12     180.5         74.5         134.5  uno
13     183.0         76.5         142.0  uno
14     169.5         68.0         119.0  uno
15     172.0         70.5         133.5  uno
16     170.0         66.0         118.5  uno
17     182.5         76.0         134.0  dos
18     179.5         74.0         132.0  dos
19     191.0         72.5         131.5  dos
20     184.5         76.5         141.5  dos
21     181.0         79.0         136.5  dos
22     173.5         71.5         136.5  dos
23     188.5         79.5         136.0  dos
24     175.0         76.5         142.0  dos
25     196.0         76.0         134.0  dos
26     200.0         82.5         146.0  dos
27     185.0         81.5         137.0  dos
28     174.5         74.0         136.5  dos
29     195.5         78.5         144.0  dos
30     197.0         80.5         139.0  dos

In [79]:
DF2.describe()

         Longitud  Altura_Cara  Anchura_Cara
count   31.000000    31.000000     31.000000
mean   179.854839    73.080645    133.629032
std      9.508061     5.417713      7.555316
min    162.500000    62.000000    118.500000
25%    173.000000    70.250000    131.250000
50%    179.500000    73.500000    134.500000
75%    184.750000    76.500000    136.750000
max    200.000000    82.500000    146.500000

In [95]:
DF3=DF2.iloc[:17,2:4]
DF3

    Anchura_Cara Tipo
0          136.5  uno
1          121.0  uno
2          119.5  uno
3          128.0  uno
4          135.5  uno
5          131.0  uno
6          134.5  uno
7          132.5  uno
8          133.5  uno
9          126.0  uno
10         124.0  uno
11         146.5  uno
12         134.5  uno
13         142.0  uno
14         119.0  uno
15         133.5  uno
16         118.5  uno

In [96]:
DF4=DF2.iloc[17:30,2:4]
DF4

    Anchura_Cara Tipo
17         134.0  dos
18         132.0  dos
19         131.5  dos
20         141.5  dos
21         136.5  dos
22         136.5  dos
23         136.0  dos
24         142.0  dos
25         134.0  dos
26         146.0  dos
27         137.0  dos
28         136.5  dos
29         144.0  dos

In [100]:
TipoI=DF3.describe()
TipoII=DF4.describe()
print(TipoI)
print(TipoII)

       Anchura_Cara
count     17.000000
mean     130.352941
std        8.137039
min      118.500000
25%      124.000000
50%      132.500000
75%      134.500000
max      146.500000
       Anchura_Cara
count     13.000000
mean     137.500000
std        4.536886
min      131.500000
25%      134.000000
50%      136.500000
75%      141.500000
max      146.000000